@import "tailwindcss";

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-900: #1e3a8a;
}

@layer base {

  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #020617;
      --foreground: #f8fafc;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased selection:bg-brand-500/30;
  }
}

.glass {
  @apply bg-white/40 dark:bg-black/40 backdrop-blur-md border border-white/20 dark:border-white/10 shadow-xl;
}
